# dependencies
node_modules/

# playwright reports
playwright-report/
test-results/

# allure reports
allure-results/
allure-report/

# auth storage
playwright/.auth/

# env
.env

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db